* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: #000080;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.initial-texts {
    margin-bottom: 5px;
}

.conversor {
    background-color: #F4F4F4;
    width: 375px;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto 30px;
    padding: 44px 24px 23px;
}

select,
input {
    width: 100%;
    height: 48px;
    top: 68px;
    left: 24px;
    border-radius: 4px;
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    margin-bottom: 24px;
    padding-left: 18px;
    cursor: pointer;
}

input {
    cursor: auto;
}

button {
    background-color: #000080;
    color: white;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 48px;
    font-size: 15px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.final-result {
    margin-top: 36px;
    padding: 12px;
    border: 1px solid #000080;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.final-result img {
    height: 50px;
}

.inside-result {
    color: #777777;
    font-size: 14px;
}

.input-value,
.final-value {
    color: #555555;
    font-weight: 700;
    font-size: 20px;
}

.arrow-img {
    margin: 15px 0;
}